.SiderBar {
    @apply
        z-10
        h-full
        w-1/6
        animate-[SiderBarAnim_2s_ease-in-out]
}

.SiderBar-I{
    @apply        
        h-full
        my-3
        mx-5
        fixed
        flex flex-col justify-between align-middle items-center
}

@keyframes SiderBarAnim{
    0% {transform: translateX(-200px); opacity: 0;}
    100% {transform: translateX(0); opacity: 1;}
}

.Sider-logo{
    @apply
        my-4
        h-20 w-20
        bg-white
        rounded-full
}


/*NAVBAR*/

.NavBar{
    @apply
        z-30
        w-10/12
        mx-6
        flex justify-center align-middle items-center
}

.NavBar-dx{
    @apply
        w-full
        rounded-b-3xl
        flex flex-col align-middle items-center 
        md:flex-row md:justify-around
        shadow-xl
        bg-white bg-opacity-20
        backdrop-blur-md;
}

.NavBar-I{
    @apply
        rounded-tl-3xl
        shadow-2xl
        flex flex-col align-middle items-center 
        md:flex-row md:justify-around
}


.div1-n{
    @apply
        py-1 px-3
        text-center
}

.div2-n{
    @apply
        py-1 px-3
        my-1
        w-full
        flex flex-col align-middle justify-end items-center
        md:flex-col 
        lg:flex-row lg:my-5
}

.searchXD{
    @apply
        py-2 px-4
        my-3
        rounded-3xl
        max-w-2xl
        md:w-full md:my-1
        lg:w-1/2 lg:my-1
}

.div-count{
    @apply
        py-2 px-3
        mx-8
}

.div-count button{
    @apply
        px-3 py-2
        my-3 mx-7
        w-full 
        border-2 border-white
        bg-white rounded-3xl
        flex flex-row justify-around align-middle items-center
        md:my-1
        lg:my-1
}


/*carta presentacion*/
.pres{
    @apply
        w-1/2
        h-full
        flex align-middle justify-center items-center
}

.pres-card{
    @apply
        h-1/2
        w-2/3
        flex flex-col justify-evenly
        py-4 px-4
        rounded-3xl
        text-black
        bg-[#e4c36f]
}

.pres-card-div-ctx{
    @apply
        py-2
}

.pres-img{
    @apply
        animate-[presImgAnim_2s_ease-in-out]
}

@keyframes presImgAnim{
    0% {transform: translateX(+200px); opacity: 0;}
    100% {transform: translateX(0); opacity: 1;}
}

.info{
    @apply
        w-1/2
        h-full
        flex align-middle justify-center items-center
}

.info-card{
    @apply
        h-1/2
        w-2/3
        flex flex-col justify-evenly
        py-4 px-4
        rounded-3xl
        text-black
        bg-[#658895]
}

/*CONTACTOS ---*/
.cont{
    @apply
        w-1/2
        h-full
        flex align-middle justify-center items-center
}

.cont-card{
    @apply
        h-1/2
        w-3/4
        flex flex-col justify-evenly
        py-4 px-4
        rounded-3xl
        bg-[#e4c36f]
}

.cont-card-div-data{
    @apply
        my-8
}


/*PROYNAV*/

.artProy-view{
    @apply
        h-full w-full
        border-4
        border-black

}

.form-proy{
    @apply
        w-1/3 h-3/4
        rounded-3xl
        flex flex-col
        mx-10
        py-5 px-10
        bg-[#e4c36f]/90
        shadow-2xl
}

.form-proy-ti{
    @apply
        text-4xl
        text-black
        text-center
        my-5
}

.form-proy-la{
    @apply
        text-black
        text-center
        mt-5
}

.form-proy-inp{
    @apply
        mx-2
        py-3 px-5
        rounded-3xl
        focus:border-[#658895]
        focus:ring-4
        focus:outline-2 
        focus-visible:outline-dotted 
        text-black
}

/*ver proyectos*/
.proy-cart{
    @apply
        mx-10
        grid-cols-3 gap-4
        h-full w-full
        py-44 
        flex flex-row justify-center align-middle
}

.proy-cart-view{
    @apply
        bg-[#e4c36f]
        flex flex-col 
        h-3/5 w-1/5
        rounded-3xl
        py-5
        mx-5
        text-black
}

.proy-cart-img {
    @apply
        h-3/4
}

.proy-cart-cont{
    @apply
        w-full
        py-5 
        bg-[#658895]
        backdrop-blur-2xl
        rounded-b-3xl
        flex flex-col 
        justify-center align-middle items-center
}

.proy-cart-cont-int{
    @apply
        w-full
        flex flex-col 
        justify-center align-middle items-center
}

.proy-cart-cont button{
    @apply
        text-white
        text-2xl
}

.proy-cart-cont-inpt {
    @apply
        my-3
        py-2 px-3
        text-xl
        bg-white/20
        backdrop-blur-3xl
        rounded-3xl
}


/**/
.proy-view-id{
    @apply
        h-2/3
        py-5 px-7
}

.proy-view-id-item{
    @apply
        py-5 px-10
        bg-[#658895]
        text-white
        flex flex-col
        justify-between
        rounded-3xl
}

.proy-view-id-item-internal{
    @apply
        flex flex-row justify-between
        align-middle items-center
        text-xl
        mx-4
}

.proy-view-id-item-internal label{
    @apply
        mx-2 
}

.proy-view-item-bt{
    @apply
        my-5
        py-2 px-5
        w-1/2
        text-black
        text-xl
        bg-white
        rounded-3xl
}

.proy-view-id-edit{
    @apply
        mb-5
        text-white
        text-2xl
        border-b-4
        border-[#e4c36f]

}